**/.vs
**/bin
**/obj
**/*.user
**/.Logs
**/.jpeg
[Ll]ogs/
/DevTrack/DevTrack.TrackerWorkerService/*.db
**/.db-shm
**/.db-wal
/DevTrack/DevTrack.Web/appsettings.json
/*.db
/DevTrack/DevTrack.TrackerWorkerService/WebCamCapture
/DevTrack/DevTrack.API/wwwroot/temp
/DevTrack/DevTrack.API/wwwroot/images
