@model DevTrack.Web.Areas.Admin.Models.ProjectCreateModel

@{
    ViewData["Title"] = "AddProject";
}

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <h1>Creat New Project</h1>
        <hr />

        <form asp-action="AddProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Project Name</label>
                <input asp-for="Name" class="form-control" value="" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAdmin" /> I am Admin
                </label>
            </div>

            <h4>Tracking Settings</h4>
            <hr />

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Setting.AllowTracking" value="true"/> Allow Tracking
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Setting.TakeScreenShot" /> Allow Taking ScreenShot
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Setting.WebCamCapture" /> Allow Captureing WebCam
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Setting.TrackKeyboardHits" /> Allow Tracking Keyboard Hits
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Setting.TrackMouseHits" /> Allow Tracking Mouse Hits
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Setting.TrackRunningProgram" /> Allow Tracking Running Program
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Setting.TrackActiveProgram" /> Allow Tracking Active Program
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Create Project" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
